<a href="/#/edit">Edit Item</a>
<br/>
<div
    ng-controller="createItemController">

    <item-form
        submit-text="Create Item"
        method="post">
        <h1>Create Item</h1>
    </item-form>

    <h3 class="error-message"> {{statusMessage}} </h3>

    <h1>Here are all the items</h1>
    <div ng-repeat="item in items">
        <div>
            <div>
                <div>
                    <span>name = </span><span >{{item.name}}</span>
                </div>
                <div>
                    <span>description = </span><span>{{item.description}}</span>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>
